:root {
    --green0: #e3ecd7;
    --green1: #6b9a71;
    --green2: #457a5f;
    --green3: #244f55;
    --blue0: #a5d5df;
    --blue1: #79b4d5;
    --blue2: #4d80ab;
    --blue3: #414776;
    --blue4: #33315d;
    --blue5: #2b2441;
    --blue6: #211729;
    --purple0: #e3c5cf;
    --purple1: #b79fbb;
    --purple2: #8e8bb6;
    --purple3: #5f6791;
    --purple4: #8d5180;
    --purple5: #b67388;
    --yellow0: #fffef9;
    --yellow1: #efdbb3;
    --yellow2: #e1ae98;
    --black: var(--blue6);
    --white: var(--yellow0);
}

#c1, #c2, #c3 {
    width: min(100vw, calc(100vh * 16/9));
    position: absolute;
    image-rendering: pixelated; /* You definitely want this if you are doing pixel art */
}

/* Get rid of any margins, set background black, use flexbox to center */
html, body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#c1 {
    background-image: repeating-linear-gradient(45deg, var(--blue2) 0 1px, var(--green2) 1px 2px, var(--green2) 2px 3px, var(--blue2) 3px 4px);
    background-size: 2px 2px;
    background: var(--green2);
}

.nighttime {
    filter: brightness(0.7) contrast(1.6) hue-rotate(40deg);
    transition: filter 10000ms;
}
